# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Testing
*.test

# macOS directory attributes
.DS_Store

# IDEA files
.idea/

# Go workspace file
go.work

# Dependencies
vendor/

# Distribution
dist/

# Build
agent-client