## Work Room in SPAR

NODE_ENV=development
POSTGRES_DB=agents
POSTGRES_HOST=localhost
POSTGRES_PASSWORD=agents
POSTGRES_PORT=5432
POSTGRES_USER=agents
SEMA4AI_WORKROOM_AGENT_SERVER_URL=http://localhost:8000
SEMA4AI_WORKROOM_ALLOW_INSECURE_REQUESTS=true
SEMA4AI_WORKROOM_AUTH_MODE=oidc
SEMA4AI_WORKROOM_ENABLE_DEV_MODE=true
SEMA4AI_WORKROOM_OIDC_CLIENT_ID=hy9sGRuXcSHD3dQOcTyWVx2cl3VzwTxs
SEMA4AI_WORKROOM_OIDC_CLIENT_SECRET=<LOOK_FOR_"Moonraker Sema4 OIDC credentials"_IN_1PASSWORD>
SEMA4AI_WORKROOM_OIDC_SERVER=https://sema4ai-dev.us.auth0.com
SEMA4AI_WORKROOM_OIDC_ORGANIZATION_AUTH_PARAM=org_j2BizSQt1jJDXB2u
SEMA4AI_WORKROOM_PORT=8001
SEMA4AI_WORKROOM_PORT_INTERNAL=8002
SEMA4AI_WORKROOM_SESSION_SECRET=this-is-a-secret
SEMA4AI_WORKROOM_TENANT_ID=spar

## Dev credentials (used by agent-browser for Auth0 login)
DEV_USER_EMAIL=moonraker-dev-user@sema4.ai
DEV_USER_PASSWORD=<LOOK_FOR_"Moonraker DEV user"_IN_1PASSWORD>
