## Work Room in SPAR

SEMA4AI_WORKROOM_AGENT_SERVER_URL=http://localhost:8000
SEMA4AI_WORKROOM_AUTH_MODE=none
SEMA4AI_WORKROOM_DEPLOYMENT_TYPE=spar
NODE_ENV=development
SEMA4AI_WORKROOM_PORT=8001
SEMA4AI_WORKROOM_DATA_SERVER_MODE=local
SEMA4AI_WORKROOM_DATA_SERVER_CONFIGURATION_PATH=../data-server/data-server-local-config.json
