## Work Room in SPAR

NODE_ENV=development
SEMA4AI_WORKROOM_ALLOW_INSECURE_REQUESTS=true
SEMA4AI_WORKROOM_JWT_PRIVATE_KEY_B64="LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCk1JR0hBZ0VBTUJNR0J5cUdTTTQ5QWdFR0NDcUdTTTQ5QXdFSEJHMHdhd0lCQVFRZ2xIaFNPVUFLcTMxMm1zN2QKT0RKMmhqRkRqaGNnaWltSnZ4bVh1bE9BWU51aFJBTkNBQVIyTmkrOGVsbUJ4bzlMOUx6QWlPNXh6MWVvRWR1dApCS0x5R29uSFllR3VqMEtEenVuQ0FkeUpmM1E2YlUvVklza2FKQlQ5aFBHZlNkZ01GaGxJL1RVNQotLS0tLUVORCBQUklWQVRFIEtFWS0tLS0tCg=="
SEMA4AI_WORKROOM_AGENT_SERVER_URL=http://localhost:8000
SEMA4AI_WORKROOM_AUTH_MODE=oidc
SEMA4AI_WORKROOM_OIDC_CLIENT_ID=foo
SEMA4AI_WORKROOM_OIDC_CLIENT_SECRET=bar
SEMA4AI_WORKROOM_OIDC_SERVER=http://localhost:9000/default
SEMA4AI_WORKROOM_PORT=8001
SEMA4AI_WORKROOM_PORT_INTERNAL=8002
SEMA4AI_WORKROOM_SESSION_SECRET=this-is-a-secret
SEMA4AI_WORKROOM_TENANT_ID=spar
