## Work Room in SPAR

NODE_ENV=development
SEMA4AI_WORKROOM_ALLOW_INSECURE_REQUESTS=true
SEMA4AI_ENABLE_SPAR_ONLY_FEATURES=true
SEMA4AI_WORKROOM_AGENT_SERVER_URL=http://localhost:8000
SEMA4AI_WORKROOM_AUTH_MODE=none
# This is sourced from workroom/backend
SEMA4AI_WORKROOM_PORT=8001
SEMA4AI_WORKROOM_PORT_INTERNAL=8002
SEMA4AI_WORKROOM_TENANT_ID=spar
# Used to allow reaching the data server from agent server when agent server is running via Compose
# Or when in K8s
SEMA4AI_WORKROOM_DATA_SERVER_HOST_OVERRIDE=http://data-server
